*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* margin-bottom: 40px; */
    padding-block: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    /* align-items: center; */
    /* height: 70px; */
}
.amazon-logo{
    width: 120px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 2px;
}
.amazon-logo:hover{
    border: 1px solid #aaa9a9;
}
header p{
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(44, 44, 44);
}
p span{
    color: rgb(52, 107, 226);
    font-size: 1.1rem;
}
.fa-lock{
    font-size: 1.6rem;
    color: grey;
}

/* ----------------MAIN BODY-------------- */

.main{
    display: grid;
    grid-template-columns: 65vw 30vw;
    column-gap: 1rem;
    margin-top: 90px;
    margin-inline: 20px;
}

.js-cart-html{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.item-col{
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    padding: 30px;
    justify-content: space-between;
}
.deliver-date p {
    margin-bottom: 20px;
    font-size: 1.1rem;
}
.deliver-date p span{
    color: #015a01;
    font-weight: 600;
}
.about-item{
    display: flex;
    gap: 1rem;
    width: 40vw;
}
.about-item img{
    width: 120px;
}
.about-item .name-price{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.price{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(192, 0, 0);
}
.item-name{
    font-weight: 580;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.item-updation{
    display: flex;
    /* justify-content: space-between; */
    gap: 8px; 
}
.item-updation p{
    font-size: 1.1rem;
}
.item-updation p span{
    color: #363636;
}
.item-updation .update, .delete{
    background-color: transparent;
    border: none;
    color: rgb(0, 81, 255);
    font-size: 1.1rem;
}
.item-updation .update:hover, .delete:hover{
    color: red;
    cursor: pointer;
}

.item-updation .update-item input{
    width: 30px;
    outline: none;
    font-size: 1rem;
}
.update-item span{
    color: rgb(0, 81, 255);
    font-size: 1.1rem;
}

.update-item span:hover{
    color: red;
    cursor: pointer;
}
.update-item{
    display: none;
}
/* -----------------DELEVERY OPTIONS----------------- */

.delivery-option{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-left: 10px;
}
.delivery-option p{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
}
 .input{
    display: flex;
}

.input input{
    height: 2rem;
    width: 20px;
    margin-right: 5px;
    cursor: pointer;
}
.input input:focus{
    outline: 2px solid rgba(255, 216, 20, 1);
}
.label{
    display: flex;
    flex-direction: column;
    margin-top: 3px;
}
.label .delv-date {
    color: green;
    font-weight: 600;
    font-size: 1rem;
}



.place-order{
    padding: 30px;
    height: 300px;
    border: 1px solid grey;
    /* width: 40vw; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}
.place-order h2{
    font-size: 20px;
}
.place-order p{
    font-size: 17px;
}
.place-order div{
    display: flex;
    justify-content: space-between;
}

.place-order button{
    background-color: rgba(255, 216, 20, 1) ;
    border: none;
    font-size: 1rem;
    padding-block: 5px;
    border-radius: 5px;
}
.shipping-fee p:nth-child(2){
    border-bottom: 1px solid rgb(226, 211, 211);
    padding-bottom: 5px;
}
.tax{
    border-bottom: 1px solid rgb(226, 216, 216);
    padding-bottom: 5px;
}
.total-price{
    /* margin-top: 10px; */
    color: rgb(192, 0, 0);
    font-size: 1.3rem;
}
.total-price p{
    color: rgb(192, 0, 0);
    font-size: 1.3rem;
    font-weight: 550;
}

/* ----------MEDIA QUERIES-------- */

@media (max-width: 910px){
    .main{
        display: flex;
        flex-direction: column-reverse;
        padding-inline: 20px;
        max-width: 500px;
        margin-inline: auto;
    }
    .place-order{
        margin-block: 30px;
    }

    .item-col{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .about-item{
        width: fit-content;
    }
    .delivery-option{
        margin-top: 40px;
        justify-content: space-between;
    }

    .delivery-option p{
        font-size: 1.2rem;
        margin-bottom: 2px;
    }
} 

@media (max-width: 500px){
    .item-col img{
        width: 100px;
    }
    .item-col, .place-order{
        padding-inline: 15px;
        /* margin: 30px; */
    }
    .item-updation{
        gap: 5px;
   }
   .item-updation p, .delete{
    font-size: 1rem;
}
.item-updation .update{
    font-size: 1rem;
}
}